*{
  
    padding: 0;
    margin:10px;
}


#container{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.box{
    background-color: rgba(0, 0, 0, 0.663);
    height: 40px;
    width: 190px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    color: white;
   
}

@media(max-width:500px){
    .box{
        width: 90%;
    }
}

@media(max-width:750px) and (min-width:500px){
    .box{
        width:40%;
    }
}

@media (min-width:750px){
    .box{
        width:30%;
    }
}



